<html>
    <body>
        <h1>Setup Areas</h1>
        <ul>
            <li><a href="/Admin">/Admin</a></li>
            <li><a href="/Admin/Home/About">/Admin/Home/About</a></li>
            <li><a href="/Customer">/Customer</a></li>
        </ul>
    </body>
</html>