@page
@model PracticalAspNetCore.Pages.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <body>
        <p>Add new guestbook entry.</p>
        <div asp-validation-summary="All"></div>
        <form method="POST">
            <div>Name: <input asp-for="Entry.Content" /></div>
            <div>Email: <input asp-for="Entry.Email" /></div>
            <input type="submit" />
        </form>
    </body>
</html>
