@page "{id:int}"
@model PracticalAspNetCore.Pages.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Edit Guestbook Entry @Model.Entry.Id</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Entry.Id" type="hidden" />
    <input asp-for="Entry.Email" type="hidden" />
    <input asp-for="Entry.Likes" type="hidden" />
    <div>
        <label asp-for="Entry.Content"></label>
        <div>
            <input asp-for="Entry.Content" />
            <span asp-validation-for="Entry.Content"></span>
        </div>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>
