@page

<html>
    <body>
        <h1>Razor Page and MVC API</h1>

        services.AddRazorPages() add supports for Razor Page and <a href="/api/message">MVC API (click to fetch a GET API)</a>.
    </body>
</html>