@page "/"

<h1>Data Binding from Child Component property to Parent</h1>

Magic Numbers

<ul>
    @foreach(var mn in MagicNumbers)
    {
        <li @key="mn">@mn</li>
    }    
</ul>

<Increment @bind-numbers="MagicNumbers" />

@code 
{
    List<int> MagicNumbers { get; set; } = new List<int>(); 
}