@page "/"
@inject IJSRuntime JS 

<button onclick="@ConfirmAsync">Confirm</button>

@functions  
{
    protected override async Task OnInitAsync()
    {
        await JS.InvokeAsync<object>("console.log", "hello world console");
        await JS.InvokeAsync<object>("alert", "Hello World");
    }

    async Task ConfirmAsync(){
        var result = await JS.InvokeAsync<bool>("confirm", "Do you confirm?");
        
        await JS.InvokeAsync<short>("alert", $"Result {result}");
    }
}
