@page
@model Module2.Pages.IndexModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor class library 2</title>
</head>
<body>
    <h1>Razor class library 2</h1>
    <h2>Hello world from: RazorClassLibrary2/Areas/Module1/Pages/Index.cshml</h2>
</body>
</html>