@page "/"
@inject AppState AppState
<h1>Component Events</h1>

<button @onclick="Notify" class="btn btn-primary">Notify from Page</button>

<br/>
<br/>

<Child></Child>

@code {
  void Notify()
  {
    AppState.Notify("Hello World from a page");
  }
}