
<html>

<body>
    <h1>An example of accessing MVC attribute values from a middleware using Endpoint class</h1>
    <ul>
        <li><a href="/about">/about</a></li>
        <li><form asp-action="About"><input type="submit" value="POST /About"/></form></li>
    </ul>
</body>

</html>