@inherits LayoutComponentBase

<div class="container">
  <header style="margin-bottom:10px; background-color: #001f3f;color:white;padding:5px;">
    <Notification></Notification>
  </header>
  <div>
          @Body
  </div>
</div>
