<strong>Note: don't forget to run <i>npm install</i> to install the javascript client</strong>
<br/>
<strong>Also open two tabs at least</strong>
<h2>All Messages</h2>

<ul id="msgs"></ul>

<hr>

<input type="text" id="msg" placeholder="Enter Message" />
<input type="button" id="send" value="Send" />

@section scripts {
<script>
    $(function () {
        //we are connecting on secure connection to the signalR server
        const connection = new signalR.HubConnectionBuilder()
                   .withUrl("https://localhost:5001/chathub")
                   .build();
    
        connection.start().catch(err => console.error);

        $("#send").click(function () {
            connection.invoke('Send', $('#msg').val());
        });

        connection.on('Send', data => {
            $('#msgs').append($('<li>').text(data));
        });
    });
</script>
}