@page
<html>

<body>
    <h1>An example of accessing Razor Page attribute values from a middleware using Endpoint class</h1>
    <ul>
        <li><a href="/about">/about</a></li>
        <li><form asp-page="./about"><input type="submit" value="POST /About"/></form></li>
    </ul>
</body>

</html>