@page "/"
@inject NotificationService Notification

<h1>Hello, world!</h1>

<div class="alert alert-warning">
    @Log
</div>

<div class="alert alert-info">
    @Message
</div>

<button onclick="@ConnectAsync">Connect</button>
<br/><br/>
<label>Username</label>
<input class="form-control" type="text" bind="@Sender" placeholder="Enter username" />
<br/>
<label>Broadcast Message</label>
<textarea class="form-control" bind="@BroadcastMessage" placeholder="Enter Broadcast Message"></textarea>
<button onclick="@BroadcastAsync">Broadcast</button>

@functions
{
    string Message { get;set;}
    string Log { get;set;}

    string Sender { get;set;}
    string BroadcastMessage { get;set;}

    protected override void OnInit()
    {
        Notification.OnMessage = (string user, string message) =>
        {
            Message = $"{user} sends this {message}";
            this.StateHasChanged();
        };
    }

    async Task ConnectAsync()
    {
        Log = "Trying to connect";
        await Notification.ConnectAsync();
    }

    async Task BroadcastAsync()
    {
        Log = "Broadcast";
        await JSRuntime.Current.InvokeAsync<short>("console.log", $"Sender: {Sender} | Message : {BroadcastMessage}");
        await Notification.BroadcastAsync(Sender, BroadcastMessage);
    }
}
