@page
@model Module2.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello world from RazorClassLibrary2</title>
   <link rel="stylesheet" type="text/css" href="/css/module2.css" asp-append-version="true"  />
</head>
<body>
    <h1>Module 2</h1>
    <h2>Hello world from: RazorClassLibrary2/Areas/Module2/Pages/Index.cshtml</h2>
    <p><img src="~/img/dotnet-logo.png" alt=""/></p>
    <p id="js-text-container">[Waiting for JavaScript execution]</p>
    <p class="colored-text">This is a colored text.</p>
    <script src="~/js/script.js" asp-append-version="true"></script>
</body>
</html>