@page "/"

Count: @Increment

<div style="margin:30px">
<i>This is a component</i>
<Greeting OnUpdate="IncrementUpdated"></Greeting>
</div>

@code
{
    int Increment {get;set;}

    void IncrementUpdated(int inc)
    {
        Increment = inc;
    }
}