<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>@ViewData["Title"] - ASP.NET Core Identity sample</title>
	</head>
	<body>
		<nav style="clear:both;width:100%;">
			<i>From the layout</i>
			<partial name="_LoginPartial" />
		</nav>
		<div style="clear:both;width:100%;">
			@RenderBody()
		</div>
	</body>

</html>