@page

<h1>Welcome to Razor Pages Basic</h1>
<p>
   See <a href="/InlineCodebehindFile">Page with inline code behind model</a>
</p>
<p>
   See <a href="/SeparateCodebehindFile">Page with separate code behind model</a>
</p>
