@page
@model InlineCodebehindFileModel

@functions{
    public class InlineCodebehindFileModel : Microsoft.AspNetCore.Mvc.RazorPages.PageModel
    {
        public string Title => "Page with inline codebehind file model";
        public string Message { get; private set; }

        public void OnGet()
        {
            Message = $"Generated at { DateTime.Now.ToLongTimeString() }.";
        }
    }
}

<h1>@Model.Title</h1>
<p>
    @Model.Message
</p>
<p>
    Go <a href="/">back</a>
</p>
