@page

<h1>Orchard Core CMS Decoupled with Module</h1>

<ul>
    <li><a href="/ForumModule/">/ForumModule</a></li>
    <li><a href="/ForumModule/About">/ForumModule/About</a></li>
    <li><a href="/ForumModule/Contact">/ForumModule/Contact</a></li>
    <li><a href="/About">/About</a></li>
    <li><a href="/Contact">/Contact</a></li>
</ul>