@page "/About/{section}/{year:int}"
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>About @RouteData.Values["section"] | @RouteData.Values["year"]</h1>
</body>
</html>