@page
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
    <base href="~/" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="css/bootstrap/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Blazor with multiple entry points</h1>
        <p>The page you are seeing is a normal page. The following pages are powered by Blazor</p>
        <ul>
            <li><a href="/Admin/Blazor">/Admin/Blazor</a></li>   
            <li><a href="/Admin/Blazor/About">/Admin/Blazor/About</a></li>
            <li><a href="/Manage">/Manage</a></li>
            <li><a href="/Secure">/Secure</a></li>
        </ul>
    </div>
</body>
</html>
