@page "/"
@attribute [RenderModeInteractiveWebAssembly]

<p>
    This page is a WASM component and hosted in a separate project. 
</p>

<p>
    You can click <a href="/ssr">here</a> to access a Blazor SSR page located at the HOST project.
</p>


