@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello world from RazorClassLibrary1</title>
</head>
<body>
    <h1>RazorClassLibrary1</h1>
    <h2>Hello world from: RazorClassLibrary1/Areas/MyFeature/Views/Home/Index.cshtml</h2>
</body>
</html>