<html>
    <body>
        <h1>Home Page - Convention based Routing</h1>
        Use IEndpointRouteBuilder.MapControllerRoute to configure convention based routing.
        <ul>
            <li><a href="/Admin">/Admin</a></li>
             <li><a href="/About">/About</a></li>
        </ul>
    </body>
</html>