@page
<html>

<body>
    <h1>Razor Pages Fallback in area</h1>
    <p>We configure a fallback page located in an area. Try these links to see its effects. Fallback page only works for non file name route (e.g. without extensions).</p>
    <ul>
        <li><a href="/Admin/">/Admin</a></li>
        <li><a href="/Admin/Manage">/Admin/Manage</a></li>
        <li><a href="/Admin/Reports">/Admin/Reports</a></li>
        <li><a href="/Admin/FileUpload">/Admin/FileUpload</a></li>
        <li><a href="/Admin/SecurityCheck">/Admin/SecurityCheck</a></li>
        <li><a href="/customer">/Customer</a></li>
        <li><a href="/customer/tickets">/Customer/Tickets</a></li>
        <li><a href="/customer/upgrade">/Customer/Upgrade</a></li>
        <li><a href="/customer/bonus.html">/Customer/Bonus.html</a></li>
        <li><a href="/free">/free</a></li>
    </ul>
</body>

</html>