<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.NET Core SignalR</title>

    <script src="./node_modules/@@aspnet/signalr-client/dist/browser/signalr-client-1.0.0-alpha2-final.js"></script>
    <script src="./node_modules/jquery/dist/jquery.js"></script>
</head>
<body>
    <div>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>