
A list of unmatched attributes:
<ul>
    @foreach(var att in Attributes)
    {
        <li>@att.Key = @att.Value</li>
    }
</ul>

@code
{
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }
}