@page "/"

<h1>Arbitrary Parameters</h1>

<All @attributes="Values" is-lovely=true/>

@code
{
    public List<KeyValuePair<string, object>> Values = new List<KeyValuePair<string, object>>()
    {
        new KeyValuePair<string, object>( "Name", "Annie" ),
        new KeyValuePair<string, object>("Age", 33 ),
        new KeyValuePair<string, object>( "is-working", true)
    };
}
