@page "/"

<h1>Hello, world! @currentCount</h1>
<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>

@functions {
    int currentCount = 1;

    void IncrementCount()
    {
        currentCount++;
    }
}
