<h1>Host App</h1>

<p>
Here you see samples of how the @@page custom routing interact with Orchard Core Framework module system out of the box.
</p>

<ul>
    <li><a href="/ForumModule/">/ForumModule/</a></li>
    <li><a href="/ForumModule/Users">/ForumModule/Users</a></li>
    <li><a href="/Products">/Products</a></li>
    <li><a href="/TicketModule/">/TicketModule/</a></li>
    <li><a href="/TicketModule/users/list">/TicketModule/users/list</a></li>
    <li><a href="~/Privacy">~/Privacy</a></li>
</ul>