@page "/"
<h1>App 2</h1>

<p>@Message</p>

<button onclick="@Greeting">Greet</button>

@functions
{
    public string Message {get; set;}
    async Task Greeting()
    {
        Message = "Hello world from App 2";
    }
}