@page
@model Module1.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello world from RazorClassLibrary1</title>
   <link rel="stylesheet" type="text/css" href="/css/module1.css" asp-append-version="true"  />

</head>
<body>
    <h1>Module 1</h1>
    <h2>Hello world from: RazorClassLibrary1/Areas/Module1/Pages/Index.cshtml</h2>
    <p><img src="~/img/microsoft-logo.png" alt=""/></p>
    <p id="js-text-container">[Waiting for JavaScript execution]</p>
    <p class="colored-text">This is a colored text.</p>
    <script src="~/js/script.js" asp-append-version="true"></script>
</body>
</html>