<button type="button" @onclick="Add">Increment</button>

@code {
    int _number = 0;

    [Parameter]
    public EventCallback<int> OnValueChanged { get; set;}

    async Task Add() => await OnValueChanged.InvokeAsync(++_number);
}