@page
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Using @@page to configure routing for your Razor page</h1>
    <ul>
        <li><a href="/contact-us">/contact-us</a> with page Contact.cshtml</li>
        <li><a href="/AboutOurSchool">/AboutOurSchool</a> with page About.cshtml</li>
        <li><a href="/Blog/2018/4/20/itsmybirthday">/Blog/2018/4/20/itsmybirthday</a> with page Blog.cshtml </li>
    </ul>

</body>
</html>