
A list of unmatched attributes:
<ul>
    @foreach(var att in Attributes)
    {
        <li>@att.Key = @att.Value</li>
    }
</ul>

Age is a parameter of this component<br/>
Age = @Age

@code
{
    [Parameter(CaptureUnmatchedValues = true)]
    Dictionary<string, object> Attributes { get; set; }

    [Parameter]
    short Age { get; set;}
}