@inherits BlazorLayoutComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
