@page
<html>
    <body>
        <h1>Razor Pages using new routing</h1>
        <p>
            In this example, only Razor Pages works. If you create an MVC Controller in this sample, it won't work.           
        </p>
    </body>
</html>