@page "/admin/blazor/about"

<div class="container">
    <h1>Blazor: About Page</h1>

    This page is accessible directly from / because of the following code at startup.cs

    <blockquote>
        endpoints.MapFallbackToPage("/Admin/Blazor");
    </blockquote>
</div>