@page "/"
@using ComponentSeven.Helper


Message: @Message
<br/>
<button type="button" onclick="@Say">Say It</button>
<hr/>
Number : @Number
<br/>
<button type="button" onclick="@Double">Double It</button>

@functions
{
    string Message {get;set;}

    void Say()
    {
        Message = ConversationHelper.Say();
    }

    int Number { get; set; } = 5;

    void Double()
    {
        var calculator = new Calculator.Calculate();
        Number = calculator.Double(Number);
    }
}