@model PracticalAspNetCore.Data.Entry
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <body>
        <p>
            Add new guestbook entry.
        </p>
        <div asp-validation-summary="All"></div>
        <form method="post" action="Create">
            <div>Name: <input asp-for="Content" /></div>
            <div>Email: <input asp-for="Email" /></div>
            <input type="submit" />
        </form>
    </body>
</html>
