@page
<html><body>
    <h1>Dynamic Route for Razor Pages</h1>
    <ul>
        <li><a href="/1">/1</a></li>
        <li><a href="/2">/2</a></li>
        <li><a href="/3">/3</a></li>
        <li><a href="/4">/4</a></li>
    </ul>
</body></html>