@page
@model SetTempDataModel
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.min.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <main class="container">
        <h1>You have set the TempData</h1>
        Click <a href="/">here</a> to return to home page.
    </main>
  </body>
</html>