@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>@Model.Message</h1>
        Method: @Model.Method
        <br/><br/>
        <form class="form" method="post" asp-page="Index">
            <button type="Submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</body>
</html>

@functions
{
    public class IndexModel : Microsoft.AspNetCore.Mvc.RazorPages.PageModel
    {
      public string Message { get; set; } = "Hello World";

      public string Method { get; set; }

      public void OnGet()
      {
    Method = this.HttpContext.Request.Method;
      }

      public IActionResult OnPost()
      {
    Method = this.HttpContext.Request.Method;
    return Page();
      }
    }

}