@page "/"
<!DOCTYPE html>
<html dir="@Direction()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Localization</title>
    <base href="~/" />
    @if(Direction() == "ltr")
    {
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="css/bootstrap/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    }
    else {
        <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    }

    <link href="css/site.css" rel="stylesheet" />
</head>
<body dir="@Direction()">
    <app>@(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))</app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>

@functions {

    string Direction()
    {
         var requestCulture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture;
         if (requestCulture.Culture.Name == "ar")
            return "rtl";
        else
            return "ltr";
    }
}