

<button type="button" onclick="@Add">Increment</button>

@functions {
    int _number = 0;

    [Parameter]
    Action<int> OnValueChanged { get; set;}

    void Add()
    {
        if (OnValueChanged != null)
        {
            OnValueChanged(++_number);
        }
    }
}