<button type="button" onclick="@Add">Increment</button>

@functions {
    int _number = 0;

    [Parameter]
    EventCallback<int> OnValueChanged { get; set;}

    async Task Add() => await OnValueChanged.InvokeAsync(++_number);
}