@page "/"

<h1>Data Binding from Child Component property to Parent</h1>

<p>If you remove bind- from bind-number at the source, the updated number from the component won't be reflected to the parent</p>
<p>bind-number or bind-Number or bind-nuMBer works equally well. It is case insensitive.</p>
Number: @MagicNumber


<Increment bind-nuMBer="@MagicNumber" />

@functions {
    int _magicNumber;
    int MagicNumber 
    { 
        get
        {
            return _magicNumber;
        }
    
        set
        {
            _magicNumber = value;
            StateHasChanged();
        }
    }
}