@page
<html>

<body>
    <h1>Razor Pages Areas</h1>
    <ul>
        <li><a href="/manage/">/manage</a></li>
        <li><a href="/customerservice">/customerservice</a></li>
    </ul>
</body>

</html>