@page "/"

<h1>Arbitrary Parameters Splatting on a form input</h1>

<All @attributes="HtmlAttributes"/>

@code
{
    public Dictionary<string, object> HtmlAttributes = new Dictionary<string, object> ()
    {
        { "style", "background-color:lightgrey;width:300px;" },
        { "id", "input_id" },
        { "placeholder", "This is a demo on splatting functionality"}
   };
}
