@section CssInline{
    <link rel="stylesheet" href="~/ForumModule/site.css" asp-append-version="true" />
}


<h1>Static Files</h1>

<img src="~/ForumModule/tesla-cat.jpg" asp-append-version="true" />