@using Microsoft.SyndicationFeed
@inject RssNews rss

<h1>RSS News </h1>

<ul>
    @foreach(var n in News)
    {
        <li>@((MarkupString)n.Description)</li>
    }
</ul>

@code 
{
    List<SyndicationItem> News {get; set;}

    protected override async Task OnInitializedAsync()
    {
        News = await rss.GetNewsAsync();
    }
}