@page
<html>

<body>
    <h1>Razor Pages Areas</h1>
    <ul>
        <li><a href="/Admin/">/Admin</a></li>
        <li><a href="/Admin/Manage">/Admin/Manage</a></li>
        <li><a href="/Admin/Reports">/Admin/Reports</a></li>
        <li><a href="/customer">/Customer</a></li>
        <li><a href="/customer/tickets">/Customer/Tickets</a></li>
    </ul>
</body>

</html>