<h1>Host App</h1>

<ul>
    <li><a href="Forum">/Forum</a></li>
    <li><a href="/ForumModule/Home/Index">/ForumModule/Home/Index</a></li>
    <li><a href="/Ticket">/Ticket</a></li>
    <li><a href="/TicketModule/Home/Index">/TicketModule/Home/Index</a></li>
    <li><a href="/TicketModule/Home/About">/TicketModule/Home/About</a></li>
    <li><a href="/TicketModule/Login/Index">/TicketModule/Login/Index</a></li>
</ul>