@addTagHelper *, TagHelperSeries
@using TagHelperSeries
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>
    <body>
        <alert>
            Info Alert
            <img src="https://api.thecatapi.com/v1/images/search?format=src&mime_types=image/gif" />
        </alert>

        <danger>
        <alert>
            Danger Alert
            <img src="https://api.thecatapi.com/v1/images/search?format=src&mime_types=image/gif" />
        </alert>
        </danger>
        <warning>
            <alert>
                You can pass data from 'parent' tag to child tag. Unfortunately you cannot pass data from child tag to parent.
            </alert>
        </warning>
    </body>
</html>