<h1>@Message @currentCount from a component</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Parameter]
    public string Message {get; set;}

    int currentCount = 1;

    void IncrementCount()
    {
        currentCount++;
    }
}
